<div class="row">
    <div class="col-md-12">
        <h4 class="mb-3">Pedidos</h4>
        <table class="table table-bordered">
            <thead>
                <th>#</th>
                <th>Data Pedido</th>
                <th>Nome Cliente</th>
                <th>Endereço Cliente</th>
                <th>Valor Total</th>
                <th>Status</th>
            </thead>
            <tbody>
                <tr *ngFor="let p of pedidos">
                    <td>{{p.id}}</td>
                    <td>{{p.dataPedido | date: "dd/MM/yyyy" }}</td>
                    <td>{{p.nomeCliente }}</td>
                    <td>{{p.enderecoCliente }}</td>
                    <td>{{p.valorTotal | currency:"R$ " }}</td>
                    <td >{{p.status}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>